
<form {{bind-attr class=":form-comment isOpen::closed"}} {{action "form_submit" on="submit"}}>
  <div {{bind-attr class=":field errorMsg:error"}}>
    <label for="comment">Comment</label>
    {{textarea value=comment id="comment" placeholder="Dude, this is cool!" rows="6" focus-in="removeErrors" key-press="userTyping"}}

    
    <i>
    {{#if errorMsg}}
      {{{errorMsg}}}
    {{else}}
      {{#if showTypingMessage}}
          Pssst. <a href="https://guides.github.com/features/mastering-markdown/">Markdown</a>
          and
          <a href="http://www.emoji-cheat-sheet.com/">Emoji</a>
          are supported.
      {{else}}
        Hey. Read-only <strong>access</strong> to <strong>Github</strong> is needed.
      {{/if}}
    {{/if}}
    <span class="counter">{{remainingChars}}</span>
    </i>

   
  </div>
  <div class="button">
    <input class="send" type="submit" value="Thank You">
  </div>
</form>
