
<form {{bind-attr class=":form-comment isOpen::closed"}} {{action "form_submit" on="submit"}}>
  <div {{bind-attr class=":field errorMsg:error"}}>
    <label for="comment">Comment</label>
    {{textarea value=comment id="comment" placeholder="Dude, this is cool!" rows="6" focus-in="removeErrors" key-press="userTyping"}}

    {{#if errorMsg}}
      <i>{{errorMsg}}</i>
    {{else}}
      {{#if showTypingMessage}}
        <i>
          Pssst. <a href="https://guides.github.com/features/mastering-markdown/">Markdown</a>
          and
          <a href="http://www.emoji-cheat-sheet.com/">Emoji</a>
          are supported.
        </i>
      {{else}}
        <i>Hey. Read-only <strong>access</strong> to <strong>Github</strong> is needed.</i>
      {{/if}}
    {{/if}}
  </div>
  <div class="button">
    <input class="send" name="" type="submit" value="Thank You"/>
  </div>
</form>
