<div class="body author typo-l">
  {{#user-avatar user=project.owner size=460}}{{/user-avatar}}
  <p>
    {{project.description}}
    <i class="tributary">—
      {{#user-name user=project.owner}}{{/user-name}}
      started crafting
      <a href="{{githubUrl}}">this project</a>
      <time datetime="{{project.created_at}}" title="{{moment project.created_at "MMM DD, YYYY"}}">
        {{timeAgo}}
      </time>
    </i>
  </p>
</div>
