<li class="comment typo-m" id="thank-{{unbound comment.id}}">
  <i class="tributary">
    {{#user-avatar user=comment.author}}{{/user-avatar}}
    {{#user-name user=comment.author}}{{/user-name}}
    <span class="meta">
      {{#if showRepo}}
        {{#link-to 'project' comment.repo.slug}}
          {{comment.repo.name}}
        {{/link-to}}
        ·
      {{/if}}
      <a href="/{{unbound comment.repo.slug}}#thank-{{unbound comment.id}}">
        <time {{bind-attr datetime="comment.date"}}>{{timeAgo}}</time>
      </a>
    </span>
  </i>

  {{{comment.body}}}
</li>
