<li class="comment typo-m {{if is_first "is-first"}} {{if selected "selected"}}">
  <i class="tributary">
    {{#user-avatar user=comment.author}}{{/user-avatar}}
    <span class="username">
      {{#user-name user=comment.author}}{{/user-name}}
    </span>
    <span class="meta">
      {{#if showRepo}}
        {{#link-to 'project' comment.repo.slug}}
          {{comment.repo.name}}
        {{/link-to}}
        ·
      {{/if}}
      <a href="{{unbound comment_permalink}}">
        <time datetime="{{comment.date}}" title="{{moment comment.date "MMM DD, YYYY"}}">{{timeAgo}}</time>
      </a>
    </span>
  </i>

  {{{comment.body}}}
</li>
