<li {{bind-attr class=":comment :typo-m selected"}}>
  <i class="tributary">
    {{#user-avatar user=comment.author}}{{/user-avatar}}
    {{#user-name user=comment.author}}{{/user-name}}
    <span class="meta">
      {{#if showRepo}}
        {{#link-to 'project' comment.repo.slug}}
          {{comment.repo.name}}
        {{/link-to}}
        ·
      {{/if}}
      {{#link-to 'project' comment_permalink}}
        <time {{bind-attr datetime="comment.date"}}>{{timeAgo}}</time>
      {{/link-to}}
    </span>
  </i>

  {{{comment.body}}}
</li>
